@media screen and (min-width: 768px) {
    body {
        background: url('../assets/crew/background-crew-desktop.jpg') no-repeat;
        background-size: cover;
    }
}

@media screen and (min-width: 375px) and (max-width: 768px) {
    body {
        background: url('../assets/crew/background-crew-tablet.jpg') no-repeat;
        background-size: cover;
    }
}

h3 {
    margin-left: 11vw;
    margin-top: 50px;
    font-size: 28px;
    letter-spacing: 4.72px;

    @media screen and (min-width: 375px) and (max-width: 768px) {
        font-size: 20px;
        letter-spacing: 3.38px;
    }
}

h3 span {
    font-weight: bold;
    color: var(--home-foreground-25);
    margin-right: 20px;
}

/* 描述文字 */
.peopleBox {
    display: flex;
    flex-wrap: wrap;
}

.people {
    margin-left: 165px;
    margin-top: 120px;

    @media screen and (min-width: 375px) and (max-width: 768px) {
        text-align: center;
        margin: 50px auto 0 auto;
    }
}

.people .des {
    width: 488px;
}

.people .des #role {
    font-size: 32px;
    color: var(--home-foreground-hover);

    @media screen and (min-width: 375px) and (max-width: 768px) {
        font-size: 24px;
    }
}

.people .des #name {
    font-size: 56px;
    margin-top: 20px;

    @media screen and (min-width: 375px) and (max-width: 768px) {
        font-size: 40px;
        margin-top: 10px;
    }
}

.people .des p {
    width: 444px;
    font-size: 18px;
    line-height: 32px;
    margin-top: 20px;
    color: var(--home-midground);

    @media screen and (min-width: 375px) and (max-width: 768px) {
        font-size: 16px;
        margin: 10px auto;
    }
}

/* 导航 */
.people .bottomnav {
    margin-left: 165px;
    margin-top: 80px;
}

@media screen and (min-width: 375px) and (max-width: 768px) {
    .people .bottomnav {
        text-align: center;
        margin: 30px auto;
    }

    .people .bottomnav li {
        display: inline-block;
    }
}

.people .bottomnav a {
    float: left;
    display: block;
    width: 15px;
    height: 15px;
    margin-right: 24px;
    background-color: rgba(255, 255, 255, .17);
    border-radius: 50%;
    transition: all .6;

    @media screen and (min-width: 375px) and (max-width: 768px) {
        width: 10px;
        height: 10px;
    }
}

.people .bottomnav .active {
    background-color: var(--home-foreground);
}

.people .bottomnav a:hover {
    background-color: var(--home-foreground-hover);
}

/* 人物图片 */
.peopleImg {
    margin-left: 20px;
    margin-right: 50px;
    background: url('../assets/crew/image-douglas-hurley.png') no-repeat;
    background-size: cover;
    width: 600px;
    height: 650px;

    @media screen and (min-width: 375px) and (max-width: 768px) {
        width: 550px;
        height: 550px;
        margin: 0 auto;
    }
}