@media screen and (min-width: 768px) {
    body {
        background: url('../assets/home/background-home-tablet.jpg') no-repeat;
        background-size: cover;
    }
}

@media screen and (min-width: 1040px) {
    body {
        background: url('../assets/home/background-home-desktop.jpg') no-repeat;
        background-size: cover;
    }
}


/* 标题文字 */
.main {
    display: flex;
    flex-wrap: wrap;
}

.main .main_text {
    width: 450px;
    height: 382px;
    margin-left: 165px;

    @media screen and (min-width: 768px) {
        margin-top: 100px;
    }

    @media screen and (min-width: 1040px) {
        margin-top: 200px;
    }
}

.main .main_text h2 {
    letter-spacing: 4.72px;
    margin-bottom: 15px;
    color: var(--home-midground);

    @media screen and (min-width: 768px) {
        font-size: 20px;
    }

    @media screen and (min-width: 1040px) {
        font-size: 28px;
    }
}

.main .main_text h1 {
    font-size: 150px;
    margin-bottom: 15px;
}

.main .main_text p {
    line-height: 32px;
    color: var(--home-midground);

    @media screen and (min-width: 768px) {
        font-size: 16px;
    }

    @media screen and (min-width: 1040px) {
        font-size: 18px;
    }
}

/* 探索按钮 */
.main .explore {
    /* 使用外边框 要将盒子重新设置为content-box*/
    box-sizing: content-box;
    width: 274px;
    height: 274px;
    background-color: var(--home-foreground);
    border-radius: 50%;
    text-align: center;


    @media screen and (min-width: 768px) {
        border: none;
        /* 居中 */
        margin: 80px auto;
    }

    @media screen and (min-width: 1040px) {
        /* 居中 */
        margin: 150px 0 0 200px;
        /* 设置半透明边框 */
        border: 88px solid var(--home-foreground-oval-before);
        background-clip: padding-box;
        /* 设置过渡效果 */
        transition: all .6s;

        .main .explore:hover {
            border: 88px solid var(--home-foreground-oval-after);
            background-clip: padding-box;
            /* 设置鼠标 */
            cursor: pointer;
        }
    }
}

.main .explore span {
    display: block;
    color: var(--home-background);
    font-size: 32px;
    letter-spacing: 2px;
    margin-top: 118px;
}