@media screen and (min-width: 768px) {
    body {
        background: url('../assets/technology/background-technology-desktop.jpg') no-repeat;
        background-size: cover;
    }
}

@media screen and (min-width: 375px) and (max-width: 768px) {
    body {
        background: url('../assets/technology/background-technology-tablet.jpg') no-repeat;
        background-size: cover;
    }
}

h3 {
    margin-left: 11vw;
    margin-top: 50px;
    font-size: 28px;
    letter-spacing: 4.72px;

    @media screen and (min-width: 375px) and (max-width: 768px) {
        font-size: 20px;
        letter-spacing: 3.38px;
    }
}

h3 span {
    font-weight: bold;
    color: var(--home-foreground-25);
    margin-right: 20px;
}

/* 主体 */
/* 左侧导航栏 */
.launchbox {
    display: flex;
    flex-wrap: wrap;
    margin-left: 166px;
    margin-top: 100px;

    @media screen and (min-width: 375px) and (max-width: 768px) {
        margin: 20px auto;
        text-align: center;
    }
}

.launchbox .leftnav {
    width: 5vw;
    text-align: center;

    @media screen and (min-width: 375px) and (max-width: 768px) {
        width: 100vw;
        margin-top: 20px;
    }
}

@media screen and (min-width: 375px) and (max-width: 768px) {
    .launchbox .leftnav li {
        display: inline-block;
    }
}

.launchbox .leftnav a {
    display: block;
    width: 80px;
    height: 80px;
    margin-bottom: 32px;
    font-size: 32px;
    line-height: 80px;
    color: var(--home-foreground);
    background-color: var(--home-foreground-oval-before);
    border-radius: 50%;
    border: 1px solid var(--home-foreground-25);
    transition: all .6x;

    @media screen and (min-width: 375px) and (max-width: 768px) {
        float: left;
        width: 60px;
        height: 60px;
        font-size: 24px;
        line-height: 60px;
        margin: 0 5px;
    }
}

.launchbox .leftnav .active {
    color: var(--home-background);
    background-color: var(--home-foreground);
}

.launchbox .leftnav a:hover {
    border: 1px solid var(--home-foreground);
}

.launchbox .launch {
    margin-left: 80px;

    @media screen and (min-width: 375px) and (max-width: 768px) {
        margin: 20px auto;
    }
}

.launchbox .launch h4 {
    font-size: 16px;
    letter-spacing: 2.7px;
    color: var(--home-midground);
}

.launchbox .launch #launchName {
    font-size: 56px;
    margin-top: 20px;

    @media screen and (min-width: 375px) and (max-width: 768px) {
        font-size: 40px;
        margin-top: 10px;

    }
}

.launchbox .launch p {
    width: 444px;
    font-size: 18px;
    line-height: 32px;
    margin-top: 20px;
    color: var(--home-midground);

    @media screen and (min-width: 375px) and (max-width: 768px) {
        font-size: 16px;
        line-height: 28px;
    }
}

.launchImg {
    float: right;
    margin-top: -350px;
    width: 450px;
    height: 450px;
    background: url(../assets/technology/image-launch-vehicle-portrait.jpg) no-repeat;
    background-size: 100%;


    @media screen and (min-width: 375px) and (max-width: 768px) {
        display: none;
    }
}

@media screen and (min-width: 375px) and (max-width: 768px) {
    .launchImgMove {
        width: 100vw;
        height: 310px;
        margin-top: 60px;
        background: url(../assets/technology/image-launch-vehicle-landscape.jpg) no-repeat;
        background-size: 100%;
    }
}